<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
    body, html,#map {width: 100%;height: 97%;overflow: hidden;margin:10px;}
    #topbar{
        width：100%;
        height:10%;

    }
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?ak=MRBGfK1Pn7BgVcKl5RZECM5BO5YMUU4V&v=2.0&services=false"></script>
    <title>坐标拾取</title>
</head>
<body>
    <div class="topbar">
        <a href="{% url 'maps_vis:index' %}">返回</a>
        <h1>Map_visualization</h1>
        <div id="add">
           
        </div>
    </div>
    <div id="map"></div>
</body>
</html>
<script type="text/javascript">
    //创建Map地图实例
    var map = new BMap.Map("allmap");
    //设置中心点坐标
    var point = new BMap.Point(116.331398,39.897445);
    //初始化地图
    /**
     *地图类型：
     *普通地图：BMAP_NORMAL_MAP
     *卫星地图：BMAP_HYBRID_MAP
     */
    var map = new BMap.Map("map",{mapType:BMAP_NORMAL_MAP,minZoom:1,maxZoom:18}); //设置地图类型及最小最大级别
    //设置地图级别（1-18）
    map.centerAndZoom(point,12);
    //开启滚轮缩放地图
    map.enableScrollWheelZoom();
    //进行浏览器定位
    var geolocation = new BMap.Geolocation();
    geolocation.getCurrentPosition(function(r){
    // 定位成功事件
    if(this.getStatus() == BMAP_STATUS_SUCCESS){
    //alert('您的位置：'+r.point.lng+','+r.point.lat);
    var point = new BMap.Point(r.point.lng, +r.point.lat);
    }
    },{enableHighAccuracy: true})
    //addEventListener--添加事件监听函数
    //click--点击事件获取经纬度
    map.addEventListener("click",function(e){
    prompt("鼠标单击地方的经纬度为：",e.point.lng + "," + e.point.lat);
});
</script>