<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
	body, html,#allmap {width: 100%;height: 97%;overflow: hidden;margin:10px;font-family:"微软雅黑";}
	#topbar{
		width：100%;
		height:10%;

	}
	#pos{
           
        float:left;
		width:30%;
    }
	</style>
	<script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=WuonEjjNztvtKyk3NpVilBd1HkABirTp"></script>
    <script src="//libs.baidu.com/jquery/1.9.0/jquery.js"></script>
	<title>显示poi</title>
</head>
<body>
	<div class="topbar">
		<a href="{% url 'maps_vis:index' %}">返回</a>
		<h1>Map_visualization</h1>
		<div id="pos">
    		<input type="button" value="显示数据库poi" onclick="test()"/>
			<input type="button" value="取消" onclick="test1()"/>
            <a href="{% url 'maps_vis:showupoi' %}">show自定义poi</a>
           
            
        </div>
    <form name="select">
        <select name="myselectid">
            <option value="0">美食</option>
            <option value="1">酒店</option>
			<option value="2">房地产</option>
			<option value="3">购物</option>
			<option value="4">旅游景点</option>
			<option value="5">交通设施</option>
        </select>
	<input type="button" value="确定" onclick="getvalue()"/>
    </form>
    </div>
	<div id="allmap"></div>
</body>
</html>
<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("allmap");    // 创建Map实例
	map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);  // 初始化地图,设置中心点坐标和地图级别
	//添加地图类型控件
	map.addControl(new BMap.MapTypeControl({
		mapTypes:[
            BMAP_NORMAL_MAP,
            BMAP_HYBRID_MAP
        ]}));
	map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
	map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
	var opts = {
				width : 450,     // 信息窗口宽度
				height: 80,     // 信息窗口高度
				title : "信息窗口" , // 信息窗口标题
				enableMessage:true//设置允许信息窗发送短息
			   };


	function test(){
    var data_info = [[116.417854,39.921988],
                    [116.406605,39.921585]];
    var arr = [];
    {% for entry in entries %}
    arr.push('{{ entry.text|linebreaks }}');
    //<p>[116.406605,39.921585,"地址：北京市东城区东华门大街"],[116.417854,39.921988,"地址：北京市东城区王府井大街88号乐天银泰百货八层"]<p>
    //alert(arr[0]);
    {% endfor %}
	for(var i=0;i<data_info.length;i++){
		var marker = new BMap.Marker(new BMap.Point(data_info[i][0],data_info[i][1]));  // 创建标注
		//var content = data_info[i][2];
        var content = arr[i];
		map.addOverlay(marker);               // 将标注添加到地图中
		addClickHandler(content,marker);
	}
}


function getvalue(){//下拉框+读取相应的json文件
    var value2 = document.select.myselectid.value;
    //console.log(value2);
    value1 = parseInt(value2);
    //console.log(value1);
    if (value1 == 0){  //下拉框选择标签，读取相应的数据，也可以读取全部，需要改python获取的POI数据的格式
        var url = "food.json"
        //alert(url);
    }
    else if (value1 == 1)
    {
        var url = "hotel.json"
    }
    else if (value1 == 2)
    {
        var url = "real_estate.json"
    }
    else if (value1 == 3)
    {
        var url = "shopping.json"
    }
    else if (value1 == 4)
    {
        var url = "tourist.json"
    }
    else {
    var url = "transportation.json"
    alert(url);
    }



            var request = new XMLHttpRequest();
            request.open("get", url);
            request.send(null);
            request.onload = function () {
            var json = JSON.parse(request.responseText);
            var obj2 = eval(json);

    for(i=0;i<json.list.length;i++){//llllllll
        var a = obj2.list[i].location;//location里面
        var b = a.lat;//纬度
        var c = a.lng;//经度
        var d = obj2.list[i].name;//名字
        var f = obj2.list[i].address;//地址
        //var marker = new BMap.Marker(new BMap.Point(b,c));  // 创建标注
        var marker = new BMap.Marker(new BMap.Point(c,b));
		var content = f;
		map.addOverlay(marker);               // 将标注添加到地图中
	    addClickHandler(content,marker);
    }

 }
}


	function addClickHandler(content,marker){
		marker.addEventListener("click",function(e){
			openInfo(content,e)}
		);
	}
	function openInfo(content,e){
		var p = e.target;
		var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
		var infoWindow = new BMap.InfoWindow(content,opts);  // 创建信息窗口对象
		map.openInfoWindow(infoWindow,point); //开启信息窗口
	}

    function test1(){
        //window.location.reload();
        map.clearOverlays();
    }

    map.clearOverlays();

    function showupoi(){
        var response = xmlhttp.responseText;//返回响应的内容
        alert(log(response));

    }
    // function createXMLHTTPObject(){
    //     var XMLHttpFactories=[
    //         function(){return new XMLHttpRequest()},
    //         function(){return new ActiveXObject("Msxml2.XMLHTTP")},
    //         function(){return new XMLHttpRequest()},
    //         function(){return new XMLHttpRequest()},

    //     ]
    // }
    function test2(){
        //alert("hahahhahaha");
        //var xmlhttp = XMLHttpRequest();
        var xmlhttp = new ActiveXObject("Msxml3.XMLHTTP");
        alert(xmlhttp);
        url="/showupoi/";
        alert("hahahhahaha");
        xmlhttp.open("GET",url,true);
        xmlhttp.onreadystatechange = showupoi;
        xmlhttp.send(null);
    }
</script>

